/*                1 task                       */
.text-box h3:first-child{
    color: pink;
}
#greycol{
    color: gray;
}
.text-box div p{
    color: red;
}
.text-box p:nth-of-type(3){
    color: green;
}
.yellow{
    color: yellow;
}
/*                2 task                       */
.title{
    font-size: 35px;
    text-align: center;
}
ul{
    list-style-type: none;
    font-size: 30px;
}
.monday{
    color: red;
}
.tuesday{
    color: green;
}
.wednesday{
    color: yellow;
}
.thursday{
    color: blue;
}
.friday{
    color: gray;
}
.lesson:nth-last-of-type(odd){
    color: blueviolet;
}
.lesson:nth-last-of-type(even){
    color: rgb(255, 0, 0);
}
.monday:hover{
    color: rgb(0, 0, 0);
}
.monday:active{
    color: skyblue;
}
/*              other               */
.ss:focus{
    color: red;
    background-color: black;
}
button{
    font-size: 30px;
}
.link:visited{
    color: rgb(255, 0, 0);
}
.link{
    text-decoration: none;
    font-size: 30px;
}
.rr:enabled{
    color: fuchsia;
}
.color:nth-last-of-type(1){
    color: green;
}